<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Test</title>
    <link href="index.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app" v-cloak>
        <a id="js-auth" class="testbtn" href="javascript:void(0);" @click="GetTokenAndId">Click Me</a>
        <label>Token</label> <input type="text" name="token" v-model="token" />
        <label>UserId</label> <input type="text" name="userId" v-model="userId" />
        <div class="profile">
            <img :src="picture" v-show="picture" />
            <p>{{ name }}</p>
        </div>
        <ul>
            <li v-for="item in datas">
                <a :href="item.link" target="_blank">
                    <!--<p>{{ moment(item.created_time * 1000).format("YYYY-MM-DD aH:mm") }}</p>-->
                    <!--<p>{{ item.caption ? item.caption.text : "" }}</p>-->
                    <img :src="item.images.thumbnail.url"/>
                </a>
            </li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="index.es5.min.js"></script>
</body>

</html>